@import url("https://fonts.googleapis.com/css?family=Comic+Neue:400,700i|Nanum+Pen+Script&display=swap&subset=korean");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "index.css";
@import "friends.css";
@import "find.css";
@import "more.css";

* {
  box-sizing: border-box;
  /* 매우 중요함 
  padding이 추가되어도 기존 크기는 고정.

  설정안해주면 padding에 의해 박스크기가 커져
  화면 밖으로 더 커져서 안보일 수도 있음.
  */
}

body {
  font-family: "Comic Neue", "Nanum Pen Script", cursive, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  color: #1a1a1a;
  padding: 10px 20px;
}

a {
  color: black;
  text-decoration: none;
  /* 링크 밑줄 없애줌. */
}
